.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffbe00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

*{
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
}
*.arabic {
    direction: rtl; 
    font-family: 'Cairo', sans-serif;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background:  url('https://cdn.glitch.global/b04da27f-160e-4bbe-b63e-5f180b14c324/stars1.webp?v=1705739968298');
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    color:#888888;
}
header i{
    color:#888888;
}
.header-top{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
   
}
.social-media {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px; 
}

.header-item, .header-text {
    margin-left: 20px; 
    margin-right: 20px; 
}

.social-icon {
    margin-left: 10px; 
    margin-right: 10px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, rgba(169, 196, 177, 0.6), rgba(0, 203, 61, 0.6)), url('https://cdn.glitch.global/b04da27f-160e-4bbe-b63e-5f180b14c324/stars1.webp?v=1705739968298');
    background-size: cover;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo{
    margin: 0px 20px;
}
.logo img{
    width: 90px;
    height: 60px;
}
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

nav a {
    text-decoration: none; 
    color: #fff;
}
nav a:hover , .active{
  
    color: #ffbe00;
}

nav ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease-in-out;
}  
  nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffbe00; 
    transition: width 0.3s ease-in-out;
  }
  
  nav ul li:hover::after {
    width: 100%;
  }
  
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px; 
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.slider_switch:before {
    position: absolute;
    content: "";
    height: 16px; 
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .slider_switch {
    background-color: #ffbe00;
}

input:checked + .slider_switch:before {
    transform: translateX(24px);
}

.switch + .slider_switch {
    margin-right: 10px;
    margin-left: 10px;
}
#sliderImage {
    transition: transform 0.5s ease-in-out;
}

#sliderContainer img {
    width: 100%;
    height: 60vh;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#sliderContainer {
    position: relative;
    display: flex;
    overflow: hidden;
}

#imagePoints {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.point {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.point.active {
    background-color: #ffbe00;
}
#prevArrow,
#nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffbe00;
    background-color: #888888;
    cursor: pointer;
    padding: 20px;
    border-radius: 40%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#prevArrow:hover,
#nextArrow:hover{
    background-color: #3f3f3f;
} 
#sliderContainer:hover #prevArrow,
#sliderContainer:hover #nextArrow {
    opacity: 1;
}

#prevArrow {
    left: 18px;
}

#nextArrow {
    right: 18px;
}
.secion{
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    color: #000000;
}
.secion a{
    text-decoration: none; 
    font-weight: bold;
}
.box:hover {
    transform: translateY(-15px);
    color: #ffbe00;
}

.box img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.box p {
    margin-top: 10px;
    font-weight: bold;
}

.gallery-container {
    width: 90%;
    height: 18vh;
    align-items: center;
  justify-content: center;
  margin: 60px;
  background:  url('https://cdn.glitch.global/b04da27f-160e-4bbe-b63e-5f180b14c324/white.png?v=1705739978965');
  overflow: hidden;
  }
  
.image-gallery {
    display: flex;
    transition: transform 1s ease-in-out;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
}
  
.image-gallery i {
    font-size:90px;
  color:#000;
  margin-right: 250px;
}
.move-left {
    transform: translateX(-100%);
  }

  .move-right {
    transform: translateX(100%);
  }
.secion2{
    display: flex;
    height: 50vh;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.left-section {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-section img {
    width: 100%;
    height: 100%;
  }

  .right-section {
    flex: 1;
    padding: 5vh;
    background-color: #f0f0f0;
    height: 40vh;
  }
  .right-section h1{
    font-size: 40px;
text-align: center;
}
  .typing-effect {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000;
    animation: typing 3s steps(40, end);
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }






.container5{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: auto;
    display: flex;
} 
.container5 h1{
    font-size: 20px;
}
.footer-logo p{
    font-size:10px;
}
.footer-logo img {
    width: 200px;
    height: 150px; 
}
.footer-logo {
    width: 30%;
    float: left; 
}
.footer-links {
    width: 70%;
    float: left; 
    margin-top: 80px;
}
.footer-map {
    width: 70%;
    float: left; 
    margin-top: 40px;
}
.footer-link-group {
    width: 100%; 
}
.footer-link-group a {
    display: block;
    margin-bottom: 10px; 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.footer-link-group a:hover {
    color: #ffbe00; 
}

.social-media-links {
    margin-top: 20px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center; 
    align-items: center; 

}    
.social-media-links a {
    text-decoration: none;
    color: #fff; 
    margin-right: 15px;
    
}
.our_app img{
    width: 110px;
    height: 30px;
    border-radius: 10px;
}
footer {
    background-color: #555;
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 5vh;
}
.footer-text {
    font-size: 18px;
    text-align: center; 
    margin-top: 1px; 
}
#map {
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 800px) {
header {
        display: none;
}
.logo img{
        width: 70px;
        height: 40px;
}
.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#sliderContainer img {
    width: 100%;
    height: 30vh;
    animation: fadeIn 2s forwards;
}
.point {
    width: 7px;
    height: 7px;
    margin: 0 3px;
}
#prevArrow,
#nextArrow { 
    font-size: 15px;
    padding: 10px;
}
.box {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 5px;
}
.box img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.secion{
    display: block; 
}
.gallery-container {
    width: 80%;
    height: 13vh;
  margin: 40px;
}
.image-gallery i {
    font-size:80px;
  margin-right: 150px;
}

.container5 {
    font-size: 10px;
}
.footer-logo p{
    font-size:6px;
}
.footer-link-group a {

    display: none;
}
.footer-logo img {
    width: 100px;
    height: 70px; 
}
.footer-logo {
    width: 30%;
    float: left; 
}
.our_app img{
display: none;
}
footer {
    height: 3vh;
}
.footer-text {
    font-size: 12px;
}
#map {
    height: 250px;
    width: 80%;
}
.secion2{
    display: block;
    height: 90vh;
}

  .left-section img {
    width: 100%;
    height: 50%;
  }  
.right-section p{
    text-align: center;
}
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
}

.post {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
}

.post img {
    max-width: 40%; 
    height: 100%;
}

.post-content {
    max-width: 50%; 
}

.post p {
    line-height: 1.6;
    color: #666;
}

/* styles.css */

/* تحديد استجابة الشاشة لأجهزة الهواتف المحمولة */
@media only screen and (max-width: 768px) {
    /* إخفاء النافبار العادية */
    .header nav {
      display: none;
    }
  
    /* إظهار رمز mobile-toggle */
    .header .mobile-toggle {
      display: block;
    }
  
    /* إعداد النافبار لتكون على اليمين ومخفية في البداية */
    .header nav {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #333;
      width: 200px; /* تحديد العرض حسب الحاجة */
      height: 100%;
      overflow-y: auto;
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }
  
    /* إظهار النافبار عندما يكون المفتاح mobile-toggle مفتوحًا */
    .header nav.open {
      transform: translateX(0);
    }
  
    /* تصميم عام للعناصر داخل النافبار */
    .header nav ul {
      list-style: none;
      padding: 20px;
    }
  
    .header nav ul li {
      margin-bottom: 10px;
    }
  
    .header nav ul li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    .container5{
        display: none;
    }
  }
  
